<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
		
<bean id="objectMapper" class="com.yhc.common.model.CustomObjectMapper" init-method="init">
    <property name="camelCaseToLowerCaseWithUnderscores" value="true"/>
    <property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss"/>
</bean>
<bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>
<!-- Configures support for Controllers -->
<mvc:annotation-driven>
    <mvc:message-converters>
        <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
            <property name="objectMapper" ref="objectMapper"/>
        </bean>
    </mvc:message-converters>
</mvc:annotation-driven>
	<!-- Interceptor 
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.bl.common.interceptor.ParamsValidInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*" />
            <mvc:mapping path="/*/*" />
            <bean class="com.yhc.web.common.interceptor.LoginInterceptor" >
                <property name="excludedUrls">
                    <list>
                        <value>/login_page.yhc</value>
                        <value>/re_login_page.yhc</value>
                        <value>/login.yhc</value>
                        <value>/error.yhc</value>
                    </list>
                </property>
            </bean>
        </mvc:interceptor>
        
        <mvc:interceptor>                                                 
			<mvc:mapping path="/*" />                                       
			<mvc:mapping path="/*/*" />                                     
			<bean class="com.yhc.web.common.interceptor.AuthInterceptor" >
				<property name="excludedUrls">                                
					<list>                                                      
						<value>/login_page.yhc</value>
                        <value>/re_login_page.yhc</value>
                        <value>/login.yhc</value>
                        <value>/error.yhc</value>                         
					</list>                                                     
				</property>                                                   
			</bean>                                                         
		</mvc:interceptor>
   
    </mvc:interceptors>
    -->
	<!-- component-scan -->
	<context:component-scan base-package="com.yhc.web.*" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:include-filter>
	</context:component-scan>
	<context:component-scan base-package="com.yhc.common.*" use-default-filters="false">
		 <context:include-filter type="annotation" expression="org.aspectj.lang.annotation.Aspect"/>
	</context:component-scan>
	<!--  file upload  -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="maxUploadSize" value="-1" />
	</bean>
	<aop:aspectj-autoproxy proxy-target-class="true"/> 
</beans>
