<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
                       "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="blGlobalConfig" class="com.bl.web.common.config.PropertyConfig" init-method="load" singleton="true">
		<property name="configFileName">
			<value>bl-config.properties</value>
		</property>
	</bean>
</beans>
