<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.yhc.common.mapper.CommonCdMapper">  
 <select id="getAllCommonCode"  resultType="commonCd">  
     select code_id as codeId,
			       child_cd as childCd,
			       child_code_nm as childCodeNm,
			       parent_cd as parentCd
			  from tb_common_cd
			  order by child_cd
</select>   
</mapper>  