<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yhc.lifeall.mapper.sysdata.UserWeixinMapper" >
  <resultMap id="BaseResultMap" type="com.yhc.lifeall.model.sysdata.UserWeixin" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="wx_open_id" property="wxOpenId" jdbcType="VARCHAR" />
    <result column="wx_union_id" property="wxUnionId" jdbcType="VARCHAR" />
    <result column="subscribe" property="subscribe" jdbcType="BIT" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="subscribe_time" property="subscribeTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="groupid" property="groupid" jdbcType="VARCHAR" />
    <result column="tagid_list" property="tagidList" jdbcType="VARCHAR" />
    <result column="subscribe_scene" property="subscribeScene" jdbcType="VARCHAR" />
    <result column="channle" property="channle" jdbcType="VARCHAR" />
    <result column="qr_scene" property="qrScene" jdbcType="VARCHAR" />
    <result column="qr_scene_str" property="qrSceneStr" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, wx_open_id, wx_union_id, subscribe, nickname, sex, city, country, province, 
    language, headimgurl, subscribe_time, remark, groupid, tagid_list, subscribe_scene, 
    channle, qr_scene, qr_scene_str, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.yhc.lifeall.model.sysdata.UserWeixinExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_user_weixin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from tb_user_weixin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_user_weixin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.yhc.lifeall.model.sysdata.UserWeixinExample" >
    delete from tb_user_weixin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yhc.lifeall.model.sysdata.UserWeixin" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_user_weixin (user_id, wx_open_id, wx_union_id, 
      subscribe, nickname, sex, 
      city, country, province, 
      language, headimgurl, subscribe_time, 
      remark, groupid, tagid_list, 
      subscribe_scene, channle, qr_scene, 
      qr_scene_str, create_time, update_time
      )
    values (#{userId,jdbcType=BIGINT}, #{wxOpenId,jdbcType=VARCHAR}, #{wxUnionId,jdbcType=VARCHAR}, 
      #{subscribe,jdbcType=BIT}, #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, 
      #{city,jdbcType=VARCHAR}, #{country,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, 
      #{language,jdbcType=VARCHAR}, #{headimgurl,jdbcType=VARCHAR}, #{subscribeTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR}, #{groupid,jdbcType=VARCHAR}, #{tagidList,jdbcType=VARCHAR}, 
      #{subscribeScene,jdbcType=VARCHAR}, #{channle,jdbcType=VARCHAR}, #{qrScene,jdbcType=VARCHAR}, 
      #{qrSceneStr,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yhc.lifeall.model.sysdata.UserWeixin" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into tb_user_weixin
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="wxOpenId != null" >
        wx_open_id,
      </if>
      <if test="wxUnionId != null" >
        wx_union_id,
      </if>
      <if test="subscribe != null" >
        subscribe,
      </if>
      <if test="nickname != null" >
        nickname,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="country != null" >
        country,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="language != null" >
        language,
      </if>
      <if test="headimgurl != null" >
        headimgurl,
      </if>
      <if test="subscribeTime != null" >
        subscribe_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="tagidList != null" >
        tagid_list,
      </if>
      <if test="subscribeScene != null" >
        subscribe_scene,
      </if>
      <if test="channle != null" >
        channle,
      </if>
      <if test="qrScene != null" >
        qr_scene,
      </if>
      <if test="qrSceneStr != null" >
        qr_scene_str,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="wxOpenId != null" >
        #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wxUnionId != null" >
        #{wxUnionId,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        #{subscribe,jdbcType=BIT},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null" >
        #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="tagidList != null" >
        #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null" >
        #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="channle != null" >
        #{channle,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null" >
        #{qrScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null" >
        #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yhc.lifeall.model.sysdata.UserWeixinExample" resultType="java.lang.Integer" >
    select count(*) from tb_user_weixin
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_user_weixin
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.wxOpenId != null" >
        wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="record.wxUnionId != null" >
        wx_union_id = #{record.wxUnionId,jdbcType=VARCHAR},
      </if>
      <if test="record.subscribe != null" >
        subscribe = #{record.subscribe,jdbcType=BIT},
      </if>
      <if test="record.nickname != null" >
        nickname = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.sex != null" >
        sex = #{record.sex,jdbcType=TINYINT},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.country != null" >
        country = #{record.country,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null" >
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.headimgurl != null" >
        headimgurl = #{record.headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="record.subscribeTime != null" >
        subscribe_time = #{record.subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.groupid != null" >
        groupid = #{record.groupid,jdbcType=VARCHAR},
      </if>
      <if test="record.tagidList != null" >
        tagid_list = #{record.tagidList,jdbcType=VARCHAR},
      </if>
      <if test="record.subscribeScene != null" >
        subscribe_scene = #{record.subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="record.channle != null" >
        channle = #{record.channle,jdbcType=VARCHAR},
      </if>
      <if test="record.qrScene != null" >
        qr_scene = #{record.qrScene,jdbcType=VARCHAR},
      </if>
      <if test="record.qrSceneStr != null" >
        qr_scene_str = #{record.qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_user_weixin
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      wx_open_id = #{record.wxOpenId,jdbcType=VARCHAR},
      wx_union_id = #{record.wxUnionId,jdbcType=VARCHAR},
      subscribe = #{record.subscribe,jdbcType=BIT},
      nickname = #{record.nickname,jdbcType=VARCHAR},
      sex = #{record.sex,jdbcType=TINYINT},
      city = #{record.city,jdbcType=VARCHAR},
      country = #{record.country,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      language = #{record.language,jdbcType=VARCHAR},
      headimgurl = #{record.headimgurl,jdbcType=VARCHAR},
      subscribe_time = #{record.subscribeTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR},
      groupid = #{record.groupid,jdbcType=VARCHAR},
      tagid_list = #{record.tagidList,jdbcType=VARCHAR},
      subscribe_scene = #{record.subscribeScene,jdbcType=VARCHAR},
      channle = #{record.channle,jdbcType=VARCHAR},
      qr_scene = #{record.qrScene,jdbcType=VARCHAR},
      qr_scene_str = #{record.qrSceneStr,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yhc.lifeall.model.sysdata.UserWeixin" >
    update tb_user_weixin
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="wxOpenId != null" >
        wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      </if>
      <if test="wxUnionId != null" >
        wx_union_id = #{wxUnionId,jdbcType=VARCHAR},
      </if>
      <if test="subscribe != null" >
        subscribe = #{subscribe,jdbcType=BIT},
      </if>
      <if test="nickname != null" >
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="country != null" >
        country = #{country,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="language != null" >
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="headimgurl != null" >
        headimgurl = #{headimgurl,jdbcType=VARCHAR},
      </if>
      <if test="subscribeTime != null" >
        subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=VARCHAR},
      </if>
      <if test="tagidList != null" >
        tagid_list = #{tagidList,jdbcType=VARCHAR},
      </if>
      <if test="subscribeScene != null" >
        subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      </if>
      <if test="channle != null" >
        channle = #{channle,jdbcType=VARCHAR},
      </if>
      <if test="qrScene != null" >
        qr_scene = #{qrScene,jdbcType=VARCHAR},
      </if>
      <if test="qrSceneStr != null" >
        qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yhc.lifeall.model.sysdata.UserWeixin" >
    update tb_user_weixin
    set user_id = #{userId,jdbcType=BIGINT},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      wx_union_id = #{wxUnionId,jdbcType=VARCHAR},
      subscribe = #{subscribe,jdbcType=BIT},
      nickname = #{nickname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      city = #{city,jdbcType=VARCHAR},
      country = #{country,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      subscribe_time = #{subscribeTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      groupid = #{groupid,jdbcType=VARCHAR},
      tagid_list = #{tagidList,jdbcType=VARCHAR},
      subscribe_scene = #{subscribeScene,jdbcType=VARCHAR},
      channle = #{channle,jdbcType=VARCHAR},
      qr_scene = #{qrScene,jdbcType=VARCHAR},
      qr_scene_str = #{qrSceneStr,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>